{% extends "shop/base.html" %}

{% block content %}
<h1>{{ book.title }}</h1>
{% if book.preview %}
<div class="book-item">
    <img src="{{ book.preview.url }}" alt="{{ book.title }} preview" class="book-detail-img">

    {% endif %}
    <div  class="book-detail-img">
        <p>著者: {{ book.creator }}</p>
        <p>{{ book.description|linebreaksbr }}</p>
        <br>
        <p>価格: {{ book.price }} 円</p>
        <br>
        <p>タグ: {% for tag in book.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
        <br>
        <form id="add-to-cart-form" method="post" action="{% url 'shop:add_to_cart' book.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">カートに追加</button>
        </form>
        <br>
        <a href="{% url 'shop:edit_book' book.id %}">編集</a>
        <a href="{% url 'shop:delete_book' book.id %}">削除</a>
        <a href="{% url 'shop:book_list' %}">すべての同人誌を表示</a>
    </div>
</div>
{% endblock %}
