{% extends "shop/base.html" %}

{% block content %}
<div class="order-history-wrapper">
    <h1>カート</h1>
    <div class="order-history-details">
        {% for book in cart.books.all %}
            <div class="order-history-book-item">
                <img src="{{ book.preview.url }}" alt="{{ book.title }} preview" class="order-history-book-thumbnail">
                <div class="order-history-book-info">
                    <p>{{ book.title }}</p>
                    <p>{{ book.price }} 円</p>
                    <form method="POST" action="{% url 'shop:remove_from_cart' book.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">削除</button>
                    </form>
                </div>
            </div>
        {% empty %}
            <p>カートに商品がありません。</p>
        {% endfor %}
    </div>
    {% if cart.books.count > 0 %}
        <p class="total-price">合計金額: {{ total_price }} 円</p>
        <form method="POST" action="{% url 'shop:place_order' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">注文を確定</button>
        </form>
    {% else %}
        <p>カートに商品がありません。<a href="{% url 'shop:book_list' %}">同人誌一覧</a>から商品を追加してください。</p>
    {% endif %}
    <a href="{% url 'shop:book_list' %}">同人誌一覧に戻る</a>
</div>
{% endblock %}
