{% extends "shop/base.html" %}

{% block content %}
<div class="site-title-overlay">
    <h1>Tech Book site</h1>
</div>

<section id="subvisual">
    <ul class="slider">
      <li class="slider-item slider-item01"></li>
      <li class="slider-item slider-item02"></li>
      <li class="slider-item slider-item03"></li>

    </ul>
</section>

<section class="form1">
    <h2>ほしい本を探す</h2>
    <form method="GET" action="{% url 'shop:book_list' %}">
        <input id="sbox1" type="text" name="tag" placeholder="タグ検索">
        <button id="sbtn2" type="submit"><i class="fa fa-search"></i></button>
    </form>
</section>


<section class="new-arrivals">
    <h2>新着同人誌</h2>
    <div class="book-grid">
        {% for book in books %}
            <div class="book-item">
                <a href="{% url 'shop:book_detail' book.id %}">
                    <img src="{{ book.preview.url }}" alt="{{ book.title }}">
                    <p>{{ book.title }}</p>
                    <p>著者: {{ book.creator }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
</section>
<section class="tag-cloud">
    <h2>タグクラウド</h2>
    <div id="word-cloud-container">
        <div id="word-cloud"></div>
    </div>
</section>


</main>



{% endblock %}
